<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">

				<div class="jumbotron">
					<h1>Events data</h1>

				</div>

			</div>
			<div class="col-sm-4">



				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				 aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">New Event</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="/new-event" method="post">
									<div class="form-group">
										<label class="col-form-label">Date:</label>
										<input type="date" class="form-control" name="event_date" required="required">
									</div>
									<div class="form-group">
										<label class="col-form-label">Event:</label>
										<input type="text" class="form-control" name="event_name" required="required">
									</div>
									<div class="form-group">
										<label class="col-form-label">Event description:</label>
										<textarea class="form-control" name="event_description" required="required"></textarea>
									</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>


				<div class="list-group">


					<% if (events == undefined){} else { events.forEach(function(event){
						if(new Date() > event.date){
						%>
					<a href="#" class="list-group-item list-group-item-danger flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<% } else { %>
							<a href="#" class="list-group-item list-group-item-success flex-column align-items-start">
								<div class="d-flex w-100 justify-content-between">
									<% } %>


									<h5 class="mb-1">
										<%= event.name %>
									</h5>
									<small class="text-muted">
										<%= event.date %></small>
								</div>
								<p class="mb-1">
									<%= event.event %>
								</p>
							</a>
							<% })} %>
						</div>

						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<% for(count = 0; count < all_events; count++){ %>
								<li class="page-item"><a class="page-link" href=<%=count+1%> >
										<%= count+1%></a></li>


								<% } %>
							</ul>
						</nav>


				</div>
			</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>